<!DOCTYPE html>
<html lang="en">
<head>
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <button onclick="window.location.href='';">
            reset password
        </button>
        <button onclick="window.location.href='';">
            two-factor authenticator
        </button>
        <button onclick="window.location.href='index.html';">
            log out
        </button>
    </div>
</body>