<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="hero">
        <img src="img/logo.svg" alt="logo">
        <div class="home-text">
            <h1>
                Welcome to our website!
            </h1>
            <p>
                Here, knowledge becomes simple and learning becomes interesting. Start your journey to success today!
            </p>
            <button class="basic-button">
                Start
            </button>
        </div>
    </div>
</body>
</html>
